{% extends 'base.html' %}
{% block menu %}<li><a href="{% url "add-product" %}">Create product</a></li>{% endblock menu %}
{% block page_header %}List product{% endblock page_header %}
{% block content %}
    <br/>
    {% if not lists %}
        <h2>No To-Do List</h2>
{#    {% else %}#}
{#        <a href="{% url "list-product" %}">{{ lists.name }} {{ lists. }}</a>#}
    {% endif %}

    {% for product in lists %}
        <p><a href="{% url "view-product" product.pk %}">{{ product.id }} {{ product.name }}   </a>  {{ product.price }}  {{ product.category}}</p>
        <br/>
    {% endfor %}
{% endblock content %}