{% extends "base.html" %}
{#{% block menu %}#}
{#    <li><a href="{% url "list-add" %}">Create Task</a></li>#}
{#    <li><a href="{% url "list-update" list.id %}">Edit Task</a></li>#}
{#    <li><a href="{% url "list-delete" list.id %}">Delete Task</a></li>#}
{#{% endblock menu %}#}
{% block page_header %}Product: {{ product.id }}{% endblock page_header %}
{% block content %}

    <p>Name: {{ product.name }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Remainder: {{ product.remainder }}</p>
    <p>Price: {{ product.price }}</p>

{% endblock content %}l>